ansible==4.8.0
ansible-core==2.11.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
cryptography==36.0.0
fasteners==0.16.3
idna==3.3
jenkins-job-builder==3.11.0
Jinja2==3.0.3
MarkupSafe==2.0.1
multi-key-dict==2.0.3
packaging==21.3
pbr==5.8.0
pycparser==2.21
pyparsing==3.0.6
python-jenkins==1.7.0
PyYAML==5.4.1
requests==2.26.0
resolvelib==0.5.4
six==1.16.0
stevedore==3.5.0
urllib3==1.26.7
jmespath
