version: '3.9'
services:
  sonarqube:
    image: sonarqube:9.2.4-community 
    container_name: sonar
    restart: always
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - SONARQUBE_JDBC_USERNAME={{ SONARQUBE_JDBC_USERNAME }}
      - SONARQUBE_JDBC_PASSWORD={{ SONARQUBE_JDBC_PASSWORD }}
    ports:
      - "9000:9000"
      - "9092:9092"
    volumes:
      - './sonar/conf:/opt/sonarqube/conf'
      - './sonar/data:/opt/sonarqube/data'
      - './sonar/extensions:/opt/sonarqube/extensions'
      - './sonar/bundled-plugins:/opt/sonarqube/lib/bundled-plugins'
      - './sonar/sonarqube_logs:/opt/sonarqube/logs'
#
