multibranch_pipeline = ["configuration-as-code",]

multibranch_pipeline.each { multibranch_pipeline ->
    println "Create multibranch pipeline ${multibranch_pipeline}"
    create_multibranch_pipeline(multibranch_pipeline)
}

def create_multibranch_pipeline(String name) {
    multibranchPipelineJob(name) {
        factory {
            workflowBranchProjectFactory {
                scriptPath('jenkins/Jenkinsfile')
            }
        }
        description("multibranch_pipeline")
        displayName("multibranch pipeline")
        branchSources {
            github {
                id = name
                repoOwner("anmorgul")
                repository("what-front")
                includes('fake*')
                scanCredentialsId('github_token')
            }
        }
        configure { node ->
            def webhookTrigger = node / triggers / 'com.igalg.jenkins.plugins.mswt.trigger.ComputedFolderWebHookTrigger' {
                spec('')
                token("{{ GITHUB_WEBHOOK_TOKEN }}")
            }
        }
        orphanedItemStrategy {
            discardOldItems {
                numToKeep(20)
            }
        }
    }
}

